@page
@model Zakladnik.Pages.Zaklady.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zakładów</h1>

<hr />
<p>
    <a class="btn btn-info" asp-page="Create">Dodaj nowy zakład</a>
</p>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zaklad[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaklad[0].Bukmacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaklad[0].Stawka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaklad[0].Kurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaklad[0].Wygrany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaklad[0].Podatek)
            </th>
            <th>Potencjalna wygrana</th>
            <th>Faktyczna wygrana</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zaklad) {
        <tr>
            <td>
                 @item.Data.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bukmacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stawka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kurs)
            </td>
            <td>
                @if (!item.Rozliczony)
                {
                    <span class="badge bg-secondary">Oczekuje ⏳</span>
                }
                else if (item.Wygrany)
                {
                    <span class="badge bg-success">Wygrany ✅</span>
                }
                else
                {
                    <span class="badge bg-danger">Przegrany ❌</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podatek)
            </td>
            <td>
                @item.PotencjalnaWygrana
            </td>
            <td>
                @item.FaktycznaWygrana
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a>
                <!-- usunięto link do szczegółów -->
                <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
