@page
@model Zakladnik.Pages.Bets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie zakładu</h1>

<h3>Jesteś pewien, że chcesz usunąć zakład?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Bookmaker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Bookmaker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Stake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Stake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Odds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Odds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.IsWon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.IsWon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.Tax)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Bet.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-page="./Index">Powrót do listy zakładow</a>
    </form>
</div>
